* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

body {
  --main-bg-color:#FFFFFF;
  --main-bold-color: #000000;
  --main-tx-color: #000000;
  --row-bg-color: #f6f6f6;
  --link-color: #000000;
  --lang-color: #070707;
  --nav-color: #828282;
  --bt-bg-color: #000000;
  --bt-tx-color: #FFFFFF;
  --chb-bg-color: #beb9b9;
  --netw-color: #c8c8c8;
}

body.dark_theme {
  --main-bg-color:#121212;
  --main-bold-color: rgba(255, 255, 255, 0.87);
  --main-tx-color: rgba(255, 255, 255, 0.60);
  --row-bg-color: #302f2f;
  --link-color: #FFFFFF;
  --lang-color: #FFFFFF;
  --nav-color: #666565;
  --bt-bg-color: #FFFFFF;
  --bt-tx-color: #000000;
  --chb-bg-color: #ddd8d8;
  --netw-color: #464444;
}

header main {
  width: 1445px;
}

header {
  position: sticky;
  top: 0;
  z-index: 60;
  background-color: var(--main-bg-color);
}

.row {
  background-color: var(--main-bg-color);
  margin: 0px auto;
  text-align: center;
  box-sizing: border-box;
}

.row:nth-child(even) {
  background-color: var(--row-bg-color);
}

header .menu {
  max-width: 980px;
  margin: auto;
  padding: 30px 10px 30px 10px;
  text-align: center;
  border-bottom: 1px solid #828282;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
}
header .menu ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
header .menu ul label {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  margin-top: -5px;
  color: var(--main-tx-color);
}
header .menu ul label .toggle {
  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: var(--chb-bg-color);
  border: 2px solid var(--chb-bg-color);
  border-radius: 20px;
  width: 45px;
  height: 25px;
  box-sizing: border-box;
}
header .menu ul label .toggle input {
  display: none;
}
header .menu ul label .toggle .slider_round {
  position: absolute;
  transition: all 300ms;
  left: 0;
  transform: translateX(0);
  background: var(--bt-tx-color);
  border-radius: 20px;
  height: 100%;
  width: 20px;
}
header .menu ul label .toggle input:checked + .slider_round {
  left: 100%;
  transform: translateX(-100%);
}

nav li a {
  text-decoration: none;
  color: var(--nav-color);
}
nav li a:hover {
  text-decoration: underline;
  transition: 200ms;
}

.return {
  color: var(--main-bold-color);
  font-weight: bold;
}

.open_menu {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  width: 33px;
  height: 20px;
  margin: 20px;
}
.open_menu button {
  border: 0;
  background-color: var(--main-bg-color);
  width: 33px;
  height: 20px;
}
.open_menu button:hover {
  box-shadow: rgba(100, 100, 111, 0.6) 0px 7px 29px 0px;
  width: 33px;
  height: 20px;
  transition: 200ms;
}

.mob_menu {
  background-color: var(--main-bg-color);
  max-width: 375px;
  height: 322px;
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.mob_menu .list ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 18px;
  margin: 17px;
}
.mob_menu .list ul label {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  margin-top: -5px;
  color: var(--main-tx-color);
}
.mob_menu .list ul label .toggle_mob {
  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: var(--chb-bg-color);
  border: 2px solid var(--chb-bg-color);
  border-radius: 20px;
  width: 40px;
  height: 23px;
  box-sizing: border-box;
}
.mob_menu .list ul label .toggle_mob input {
  display: none;
}
.mob_menu .list ul label .toggle_mob .slider_round_mob {
  position: absolute;
  transition: all 300ms;
  left: 0;
  transform: translateX(0);
  background: white;
  border-radius: 20px;
  height: 100%;
  width: 20px;
}
.mob_menu .list ul label .toggle_mob input:checked + .slider_round_mob {
  left: 100%;
  transform: translateX(-100%);
}
.mob_menu .controls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.mob_menu .controls .mob_lang {
  transform: rotate(90deg);
  padding: 0px 57px 57px 0px;
}
.mob_menu .controls .mob_lang a {
  text-decoration: none;
  color: var(--main-tx-color);
}
.mob_menu .controls .mob_lang a:hover {
  text-decoration: underline;
  transition: 200ms;
}
.mob_menu .controls .mob_lang .mob_lang_active {
  color: var(--nav-color);
}
.mob_menu .controls button {
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 50%;
  padding-top: 3px;
  background-color: var(--main-bg-color);
  margin: 20px 25px;
}
.mob_menu .controls button:hover {
  box-shadow: rgba(100, 100, 111, 0.6) 0px 7px 29px 0px;
  transition: 200ms;
}

.content-title .info {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.content-title .info h1 {
  color: var(--main-bold-color);
}
.content-title .info p {
  color: var(--main-tx-color);
}
.content-title .lang {
  transform: rotate(-90deg);
  padding: 50px 0 0 0;
}
.content-title .lang a {
  text-decoration: none;
  color: var(--main-tx-color);
}
.content-title .lang a:hover {
  text-decoration: underline;
  transition: 200ms;
}
.content-title .lang .lang_active {
  color: var(--nav-color);
}
.content-title .author img {
  margin-bottom: 50px;
  display: inline-block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.content-title .author_mob img {
  margin-bottom: 50px;
  display: inline-block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.block {
  margin: 0;
  padding: 100px 0px 107px 0px;
}
.block .content h2 {
  padding: 35px;
  color: var(--main-bold-color);
}
.block .description p {
  margin: 20px;
  color: var(--main-tx-color);
}
.block .icon {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
}
.block .icon .icon-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.block .icon .icon-items .icon-items-prog img {
  width: 89px;
  height: 88px;
}
.block .icon .icon-items ul {
  list-style: none;
  display: inline-flex;
}
.block .icon .icon-items p {
  padding: 18px;
}
.block .send button {
  width: 181px;
  height: 42px;
  background-color: var(--bt-bg-color);
  border-radius: 30px;
  margin: 20px;
}
.block .send a button {
  text-decoration: none;
  color: var(--bt-tx-color);
  font-weight: bold;
  font-size: 16px;
}
.block .send a button:hover {
  text-decoration: underline;
  background-color: #8a8787;
  transition: 200ms;
}
.block .network {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin: 45px auto;
}
.block .network a:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  transition: 200ms;
}
.block .network .network_linkedln a {
  width: 40px;
  height: 40px;
  display: inline-block;
}
.block .network .network_inst a {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 10px;
}
.block .network .network_bechance a {
  width: 40px;
  height: 40px;
  display: inline-block;
}
.block .network .network_dribble a {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 18px;
}
.block h5 {
  color: var(--netw-color);
  font-weight: normal;
}
.block h5 a {
  text-decoration: none;
  color: var(--netw-color);
}
.block h5 a:hover {
  text-decoration: underline;
  transition: 200ms;
}

.block_portfolio {
  margin: 0;
  padding: 100px 0px 90px 0px;
}
.block_portfolio .content h2 {
  padding: 35px;
  color: var(--main-bold-color);
}
.block_portfolio .description p {
  margin: 20px;
  color: var(--main-tx-color);
}
.block_portfolio .portfolio_dicription a {
  display: inline-block;
}
.block_portfolio .portfolio_dicription img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.block_portfolio .portfolio_dicription .description_photo:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: 200ms;
}
.block_portfolio .portfolio_dicription p {
  margin: 45px auto 100px auto;
}
.block_portfolio .portfolio_dicription p a {
  color: var(--link-color);
}

@media (min-width: 600px) {
  .mob_menu {
    display: none;
  }
  .author_mob {
    display: none;
  }
  .open_menu {
    display: none;
  }
  .content-title .info p {
    margin-top: 20px;
  }
}
@media (min-width: 600px) and (max-width: 900px) {
  .mob_menu {
    display: none;
  }
  .author_mob img {
    display: none;
  }
  .open_menu {
    display: none;
  }
  .content-title .info p {
    margin-top: 20px;
  }
}
@media (max-width: 600px) {
  header {
    display: none;
  }
  .content-title .author img {
    display: none;
  }
  .content-title {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--main-bg-color);
  }
  .open_menu {
    display: block;
  }
  .mob_menu {
    display: none;
    position: fixed;
    right: 0;
    top: 0;
  }
  .mob_menu_visible {
    display: flex;
  }
  .content-title .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin-left: 0;
  }
  .row .author_mob {
    display: block;
  }
  .lang {
    display: none;
  }
  .icon {
    flex-direction: column;
    flex-wrap: wrap;
    gap: 40px;
  }
  .send button {
    width: 316px;
    height: 42px;
  }
}

/*# sourceMappingURL=style.css.map */
